body {
	background-color: skyblue;
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
}

h1 {
	font-size: 500%;
	font-style: normal;
	font-family: "Impact", Charcoal, sans-serif;
}
h3 {
	font-family: "Lucida Console", Monaco, monospace;
}

.jumbotron {
	background-color: skyblue;
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
}

.footer {
	font-family: "Lucida Console", Monaco, monospace;
}