*{
	background-color: white;
	color: lightseagreen;
}


body {
	background-color: white;;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

h1 {
	color: lightseagreen;
	font-size: 65px; 
	font-family: 'Roboto', sans-serif;
	padding-top: 30px;
}


h3 {
	color: lightseagreen;
	font-family: 'Roboto', sans-serif;
}

.jumbotron {
	background-color: lightseagreen;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	color: white;

}

p{
	color: white;
	background-color: lightseagreen;
}

h4{
	color: lightseagreen;
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 30px;
}

.form-group{
	border-radius: 10%;
	border-width: 0;
}

.footer {
	font-family: 'Roboto', sans-serif;
}

input{
	text-align: center;
	background-color: lightseagreen;

}

#inputForm{
	padding-top: 25px;
	padding-right: 500px;
	padding-left: 500px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}


table{
	padding-right: 30px;
	padding-left: 30px;
}

.top{
	background-color: white;
}
.row{
	background-color: lightseagreen;
}

.col-sm-5{
	background-color: lightseagreen;
}

img{
	border-radius: 100%;
}