*{
	background-color: whitesmoke;
}


body {
	background-color: whitesmoke;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 65px; 
	font-family: 'Roboto', sans-serif;
	padding-top: 30px;
}


h3 {
	font-family: 'Roboto', sans-serif;
	color: black;
}

.jumbotron {
	background-color: whitesmoke;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	

}

.footer {
	font-family: 'Roboto', sans-serif;
}

input{
	text-align: center;
	font-size: 30px;
}

#inputForm{
	padding-top: 50px;
	padding-right: 250px;
	padding-left: 250px;
}