<!DOCTYPE html>
<!-- define our angular app and set the controller -->
<html ng-app="bitcoinCalculator" ng-controller="bitcoinController">
  <head>
    <title>Bitcoin Investment Calculator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- stylesheets -->
    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.css">

    <!-- scripts -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular.min.js"></script>
    <script type="text/javascript" src="main.js"></script>


    <!-- Angular scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-nvd3-directives/0.0.7/angularjs-nvd3-directives.min.js"></script>

    <style>
    </style>
  </head>

  <body>

      <h1><u>Bitcoin Investment Calculator</u></h1>

        <h3> Which currency are you buying bitcoin with?</h3>
        <select name="currencies" ng-model="currency">
          <option value="USD ($)">USD ($)</option>
          <option value="EUR (€)">EUR (€)</option>
          <option value="GPB (£)">GPB (£)</option>
          <option value="JPY (¥)">JPY (¥)</option>
          <option value="CAD ($)">CAD ($)</option>
        </select>

      <h3>How much {{currency}} are you willing to invest?</h3>
      <!-- model -->
      <form role="form" id ="inputForm">
        <div class="form-group">
            <input class = "form-control" min="0" type="number" ng-model="Money" placeholder="0">
        </div>


      </form>

      <br>

      <img src="btc.png" style="width:100px; height:100px;">

      <br><br>
      <h4>You will be investing <span class="number">{{Money/currRate(currency)}}</span> Bitcoin - nice!</h4>

    <div class="jumbotron">

<p>Current Price of bitcoin in {{currency}}: {{currRate(currency)}}</p>

<p>all figures are in {{currency}}</p>


      <h3 style="color:white; background-color: lightseagreen">At what price of Bitcoin are you thinking of selling your investment?</h3>
      <!-- model -->

    <div style="width: 200px; text-align:center;">
      <form role="form" style="width: 200px; text-align:center;">
        <div class="form-group" style="text-align: center;">
            <input class = "form-control" min="0" type="number" ng-model="Selling_Price" placeholder="0">
        </div>
      </form>
    </div>


    <p>Based on the current price of BTC:</p>


      <div class="row" style="margin-left: auto; margin-right: auto; color: white; background-color: lightseagreen;">
          <table class="table" style="width: 1200px; margin-left: auto; margin-right: auto; color: white; background-color: lightseagreen;">
            <thead>
              <tr>
                <th>If you sell your BTC when the price of 1 BTC is:</th>
                <th>You will start with:</th>
                <th>Your share of Bitcoin will be:</th>
                <th>Your profit will be: </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1,000</td>
                <td>{{Money}}</td>
                <td> {{Money*(1000/currRate(currency))}}</td>
                <td> {{Money*(1000/currRate(currency)) - Money }}</td>
              </tr>
              <tr>
                <td>5,000</td>
                <td>${{Money}}</td>
                <td>$ {{Money*(5000/currRate(currency))}}</td>
                <td>$ {{Money*(5000/currRate(currency)) - Money }}</td>
              </tr>
              <tr>
                <td>10,000</td>
                <td>${{Money}}</td>
                <td>$ {{Money*(10000/currRate(currency))}}</td>
                <td>$ {{Money*(10000/currRate(currency)) - Money }}</td>
              </tr>
              <tr>
                <td>25,000</td>
                <td>${{Money}}</td>
                <td>$ {{Money*(25000/currRate(currency))}}</td>
                <td>$ {{Money*(25000/currRate(currency)) - Money }}</td>
              </tr>
              <tr>
                <td>$50,000</td>
                <td>${{Money}}</td>
                <td>$ {{Money*(50000/currRate(currency))}}</td>
                <td>$ {{Money*(50000/currRate(currency)) - Money }}</td>
              </tr>
            </tbody>
          </table>
      </div>

    </div>
      
      <div style="background-color: green;" class="footer">
        <p style="background-color: green;">Developed By Alex Jabbour, Dhruva Rajkumar and Nathan Au</p>
      </div> 

    <style>
      .footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          color: white;
          text-align: center;
      }
    </style>


    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="index.js"></script>

  </body>
</html>
